<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/books.jpg" alt="" height="400">
  </div>
  <div class="headings">
    <h2>You can get book reviews of your choice</h2>
    
    <a href="/mainPage" class="btn">View Books</a>
  </div>
</header>


<%- include('partials/footer'); -%>